<a href="https://colab.research.google.com/github/MNP612/AlgoTraining/blob/master/Coding_Tutorial_Aamir.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session 1 - July 9, 2021 - Bit shifting

## Problem
* given a set of integers
* write a procedure to return power set

* example: set = (1,2,3,4)
* powerset = (1), (2), ..., (1, 2)... , (1,2,3,4)

## Tutorial by Aamir

In [ ]:
# calculate 2^n (naive approach)

def two_power(n):
  result = 1
  for _ in range(n):
    result *= 2
  return result

In [ ]:
for i in range(5):
  print(i, two_power(i))

0 1
1 2
2 4
3 8
4 16

In [ ]:
# calculate 2^n (using bit shift)
# example: n = 3. Define 1 which is 1 in binary. Bit shift 3 times -> 1000. This is now 8 as integer.   
def two_power_opt(n):
  return 1 << n

In [ ]:
for i in range(5):
  print(i, two_power_opt(i))

0 1
1 2
2 4
3 8
4 16

In [ ]:
# check if a value is a power of two (naive approach)
def check_if_pow_two(n):
  if n == 0 or n == 1:
    return True
  while n > 1:
    n = n / 2
    if n == 1:
      return True
  
  return False

In [ ]:
[[i,check_if_pow_two(i)] for i in range(9)]

[[0, True],
 [1, True],
 [2, True],
 [3, False],
 [4, True],
 [5, False],
 [6, False],
 [7, False],
 [8, True]]

In [ ]:
# check if a value is a power of two (using bit shift)
# example 1: n = 4 is 100 in binary and n - 1 = 3 is 011 in binary. Therefore 100 & 011 = 000 is decimal 0
# example 2: n = 5 is 101 in binary and n - 1 = 4 is 100 in binary. Therefore 101 & 110 = 100 is decimal 4
def check_if_pow_two_opt(n):  
  return n & (n - 1) == 0

In [ ]:
[[i,check_if_pow_two_opt(i)] for i in range(9)]

[[0, True],
 [1, True],
 [2, True],
 [3, False],
 [4, True],
 [5, False],
 [6, False],
 [7, False],
 [8, True]]

## My Solutions

### Solution 1 (using binary conversion)

In [ ]:
def get_power_set1(set):
  power_set = []
  n = len(set)
  for i in range(2**n): # a size n set has 2^n elements in its power set 
    bin_list = list(bin(i))[:1:-1] # convert all elements from 0 to 2^n to binary and cast into a list. This does the permutation.
    current_set = []
    for j, b in enumerate(bin_list):
      if b == '1':  # every 1 in the binary number represents an element in the subarray of the power set
        current_set.append(set[j])
    power_set.append(current_set) # append subarray to power set
  return power_set

In [ ]:
get_power_set1([1,9,11,5])

[[],
 [1],
 [9],
 [1, 9],
 [11],
 [1, 11],
 [9, 11],
 [1, 9, 11],
 [5],
 [1, 5],
 [9, 5],
 [1, 9, 5],
 [11, 5],
 [1, 11, 5],
 [9, 11, 5],
 [1, 9, 11, 5]]

### Solution 2 (using bit shifting as explained by Aamir)

In [ ]:
def get_power_set2(set):
  power_set = []

  def two_power(n): # compute 2^n
    return 1 << n

  n_two_power = two_power(len(set))
  power_list = [x for x in range(n_two_power)] # create list from 0 to 2^n
  
  for i in power_list: # loop through the power_list (i = 1,2,3,...2^n)
    current_set = []
    for j in range(len(set)):
      '''
      Compare the binary value of i with every from 1 shifted bit.
      Example 1: i = 4 is 1000 in binary. 1 << 0 is 0001. So i & 1 << j is 1000 & 0001 << 0 = 1000 & 0001 = 0000 = 0
      Example 2: i = 4 is 1000 in binary. 1 << 4 is 1000. So i & 1 << j is 1000 & 0001 << 4 = 1000 & 1000 = 1000 = 4
      '''
      if (i & 1 << j) != 0: 
        '''
        If 1 shifts by j so that it is equal to i, then there is a '1' bit at th jth position
        If jth posiotion matches than cast jth value of input set in the subset.
        '''
        current_set.append(set[j])
    power_set.append(current_set) # append subset to final power set
  return power_set

In [ ]:
get_power_set2([1,9,11,5])

[[],
 [1],
 [9],
 [1, 9],
 [11],
 [1, 11],
 [9, 11],
 [1, 9, 11],
 [5],
 [1, 5],
 [9, 5],
 [1, 9, 5],
 [11, 5],
 [1, 11, 5],
 [9, 11, 5],
 [1, 9, 11, 5]]

### Soultion 3 (recursion)

In [ ]:
def power_set(lst, idx, curr_lst):
  if idx == len(lst): # base case: finish recursion if index is at the end of the list
    print(curr_lst)
    return
  power_set(lst, idx+1, [lst[idx]] + curr_lst)
  '''
  Examples:   initial: lst = [A,B,C] and idx = 0 and curr = [], then power_set(lst, idx+1, [lst[idx]] + curr_lst)
                                                                    = power_set([A,B,C], 1, [A])
                                                                    = power_set([A,B,C], 2, [A,B])
                                                                    = power_set([A,B,C], 3, [A,B,C]) -> return
              
              initial: lst = [A,B,C] and idx = 2 curr = [A,B], then  power_set(lst, idx+1, [lst[idx]] + curr_lst)
                                                    = power_set([A,B,C], 3, [C,A,B]) -> return
              
              initial: lst = [A,B,C] and idx = 2 curr = [A], then  power_set(lst, idx+1, [lst[idx]] + curr_lst)
                                                                  = power_set([A,B,C], 3, [A,C]) -> return
                                                   

  '''
  power_set(lst, idx+1, curr_lst)
  '''
  Examples:  initial: lst = [A, B, C] and idx = 0 and curr = [], then  power_set(lst, idx+1, curr_lst)
                                                                      = power_set([A,B,C], 1, [])
                                                                      = power_set([A,B,C], 2, [])
                                                                      = power_set([A,B,C], 3, []) -> return
                                            
            initial: lst = [A, B, C] and idx = 2 and curr = [A,B], then  power_set(lst, idx+1, curr_lst)
                                                                          = power_set([A,B,C], 3, [A,B]) -> return
                                                    
            initial: lst = [A, B, C] and idx = 1 and curr = [A], then  power_set(lst, idx+1, curr_lst)
                                                                        = power_set([A,B,C], 2, [A])
                                                                        = power_set([A,B,C], 3, [A]) -> return                                        
  '''

In [ ]:
lst = [1,9,11,5]
power_set(lst, 0, [])

[5, 11, 9, 1]
[11, 9, 1]
[5, 9, 1]
[9, 1]
[5, 11, 1]
[11, 1]
[5, 1]
[1]
[5, 11, 9]
[11, 9]
[5, 9]
[9]
[5, 11]
[11]
[5]
[]

## Homework 1 - Binary search

* Given the total price (e.g of a car), monthly installments and the length in month of the conctract
* Calculate the annual interest rate

* Example: <br />2000 <br /> 510<br />4<br />Returns: 9.56205462458368

In [ ]:
def get_rate(price, monthly_pay, months):
  thresh = 1e-11
  lo = 0
  hi = 1/12
  
  while lo <= hi:
    balance = price
    
    mid = lo + (hi -lo) /2
    for i in range(months):
      balance -= monthly_pay - mid *  balance
    
    if balance < thresh and balance > -thresh:
      print(mid * 12 * 100)
      return
    elif balance < thresh:
      lo = mid
    else:
      hi = mid

In [ ]:
get_rate(15000, 364, 48)

7.68785639458156

* Given time nanoseconds, return the largest double n such that c n lg(n) <= time

In [ ]:
import math

def time(c, n):
  return c * n * math.log(n, 2)

def howMany(c, t):
  thresh = 1e-9
  lo = 0
  hi = 100
  i = 0
  while lo <= hi:
    
    mid = lo + (hi - lo) / 2
    
    if time(c, mid) < t + thresh and time(c, mid) > t - thresh:
      return mid
    elif time(c, mid) > t + thresh:
      hi = mid
    elif time(c, mid) < t - thresh:
      lo = mid

In [ ]:
howMany(1,8)

4.0000000000873115

* TopCoder problem [world piece](https://community.topcoder.com/stat?c=problem_statement&pm=2420&rd=5850)

In [ ]:
def distribute_countries(group_size, countries):
  num_groups = 0
  n_countries = len(countries)
  Min = max(countries)
  subtract_by = Min
  while Min > 0:
    countries = sorted(countries)[::-1]
    Min = countries[group_size]
    subtract_by = Min // 2 + 1
    for i in range(group_size):
      countries[i] -= subtract_by
    num_groups += subtract_by
  return num_groups

In [ ]:
distribute_countries(7, [ 96, 17, 32, 138, 112, 50, 7, 19, 412, 23, 14, 50, 47, 343, 427, 22, 39])

167

* TopCoder problem [GoldMine](https://community.topcoder.com/stat?c=problem_statement&pm=1957&rd=4650) (UNFINISHED)

In [ ]:
def getAllocation(mines, n_miners):
  n_mines = len(mines)
  alloc = [0] * n_mines
  curr_miner = 0

  def profit(n, m):
    if n < m:
      return 60
    elif n == m:
      return 50
    else:
      return -20
  
  def argmax(lst):
    curr_max = lst[0]
    curr_max_arg = 0
    for i in range(len(lst)):
      if lst[i] > curr_max:
        curr_max = lst[i]
        curr_max_arg = i 
    return i


  while curr_miner < n_miners:
    curr_miner += 1
    n_miners =- 1
    for i in range(7):
      curr = []
      for j in range(n_mines):
        curr.append(.01 * mines[j][i] * profit(curr_miner, i+1))
      
    alloc[j] += argmax(curr) + 1
  
  return alloc

In [ ]:
getAllocation([[000, 30, 30, 40, 000, 000, 000],
        [20, 20, 20, 10, 10, 10, 10]], 4)

[0, 2]

## Homework 2 - DFS

* DFS - TopCoder problem [Marketing](https://community.topcoder.com/stat?c=problem_statement&pm=1524&rd=4472) (UNFINISHED)

In [ ]:
def howMany(lst):

  print(lst)
  if not lst:
    return 0
  if len(lst) == 1:
    return 0
  for i in range(len(lst)):
    for j in range(i+1,len(lst)):
      if j in lst[i]:
        return 0 + howMany(lst[0:i]) + howMany(lst[i:j]) + howMany(lst[j:-1])
      return 1 + howMany(lst[0:i]) + howMany(lst[i:j]) + howMany(lst[j:-1])

In [ ]:
howMany([[1,4],[2],[3],[0],[]])

[[1, 4], [2], [3], [0], []]
[]
[[1, 4]]
[[2], [3], [0]]
[]
[[2]]
[[3]]

1